.content-container {
  position: relative;
  display: grid;
  grid-column: content;
  min-height: 100vh;
  background-color: var(--content-bg-color);

  .content {
    width: 100%;
    height: 100%;
    padding: 30px 60px;

    @media screen and (max-width: 720px) {
      padding: 20px 40px;
    }
  }
}