.content__body_department {
  flex-direction: column;

  .department-info {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    margin-bottom: 50px;

    @media screen and (max-width: 1080px) {
      flex-direction: column;
    }
  }

  .department-employees {
    &__header {
      margin-bottom: 20px;
    }
  }
}
