.custom-checkbox-container {
  margin-bottom: 20px;
  margin-right: 100px;
  padding-left: 10px;
  width: 30%;

  .custom-checkbox-label {
    display: block;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
    margin-bottom: 5px;
  }

  .custom-checkbox-field {
    cursor: pointer;
    display: block;
    width: 18px;
    height: 18px;
  }
}

