.content__body_dashboard {
  @media screen and (max-width: 720px) {
    flex-direction: column;
  }

  .dashboard-departments {
    display: flex;
    flex-direction: column;

    &__header {
      margin-bottom: 30px;
    }

    &__title {
      margin-bottom: 35px;
    }

    &__cards {
      display: flex;
      justify-content: flex-start;
      flex-flow: row wrap;
    }
  }

  .dashboard-employees {
    display: flex;
    flex-direction: column;

    &__title {
      margin: 80px 0 35px 0;
    }
  }
}