.dashboard-container {
  display: grid;
  grid-template-columns: [departments] 75% [employees] 25%;
  width: 100%;
  height: 100%;

  @media screen and (max-width: 720px) {
    display: flex;
    flex-direction: column;
  }

  .dashboard-header {
    margin-bottom: 30px;
  }

  .dashboard-title {
    font-weight: 700;
    margin-bottom: 35px;
  }

  .dashboard-departments {
    grid-column: departments;

    @media screen and (max-width: 1080px) {
      display: flex;
      flex-direction: column;
    }

    .dashboard-departments-cards {
      display: flex;
      justify-content: flex-start;
      flex-flow: row wrap;
    }
  }

  .dashboard-employees {
    grid-column: employees;
    margin-top: 80px;

    @media screen and (max-width: 1080px) {
      display: flex;
      flex-direction: column;
    }
  }
}