.department-form-header {
  margin-bottom: 30px;
}

.department-form {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  margin-bottom: 20px;
}

.department-form-error-message {
  color: red;
  margin-bottom: 20px;
}