.nav-menu {
  grid-column: nav;
  min-height: 100%;
  background-color: var(--nav-menu-bg-color);
  z-index: 1;

  @media screen and (max-width: 1080px) {
    display: flex;
    flex-direction: row;
    min-height: 100px;
    padding: 10px 40px;
  }

  @media screen and (max-width: 720px) {
    padding: 10px 20px;
  }

  @media screen and (max-width: 600px) {
    padding: 5px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 15px 0 10px;

    @media screen and (max-width: 1080px) {
      display: flex;
      flex-direction: row;
      margin: 0;
    }
  }
}