.main-page {
  display: grid;
  grid-template-columns: [nav] 20% [content] 80%;
  width: 100%;
  min-height: 100vh;

  @media screen and (max-width: 1080px) {
    display: flex;
    flex-direction: column;
  }
}