.employee-form-header {
  margin-bottom: 30px;
}

.employee-form {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
}

.employee-form-error-message {
  color: red;
  margin-bottom: 20px;
}