.content__body_employees_table {
  height: 400px;
  width: 100%;

  .employees-table {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    border: var(--custom-border);

    &__column {
      font-size: 18px;
    }
  }
}